{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="main">
        
    <div class="compte-page">
        <div class="article-container">

            {% for article in articles %}
                <div class="article-div">
                    {#<img src="../../../image/travel.jpg" alt="illustration de voyage"/>#}
                    <p class="article-titre">{{article.titre}}</p>
                    {% if article.texte1 is defined %}
                        <p>{{article.texte1}}</p>
                    {% endif %}
                    {% if article.texte2 is defined %}
                        <p>{{article.texte2}}</p>
                    {% endif %}
                    {% if article.url is defined %}
                        <p><a href="{{article.url}}" target="blank" class="pasdelien">Lien</a></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
