@media screen and (max-device-width: 800px) {

  #road-embed-map .road-embed-map-search {
    font-size: 25px;
  }

  #road-embed-map .road-embed-map-sidebar {
      width: 100%;
      left: -100%;
      transition: none;
      font-size: 28px;
    }

    #road-embed-map .road-embed-map-error {
      font-size: 25px;
    }

    #road-embed-map .road-embed-map-sidebar .sidebar-container h3 {
      font-size: 30px;
    }

    #road-embed-map .road-embed-map-sidebar .sidebar-container h4 {
      font-size: 28px;
    }

    #road-embed-map .road-embed-map-sidebar .sidebar-container table {
      font-size: 28px;
    }

    #road-embed-map .road-embed-map-sidebar .sidebar-container .label {
      font-size: 26px;
    }

    #road-embed-map .road-embed-map-sidebar .divider {
      font-size: 26px;
    }

    .italicP {
      font-size: 25px;
    }
  }