.nav-banner {
    position: fixed; /* Position fixe pour que la barre de navigation reste toujours visible */
    top: 0; /* Positionner la barre de navigation en haut de la fenêtre */
    left: 0; /* Positionner la barre de navigation sur le côté gauche de la fenêtre */
    width: 100%; /* La barre de navigation prendra 100% de la largeur de la fenêtre */
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Pour ajouter un espace égal entre les éléments */
    background-color: ghostwhite;
    z-index: 9999; /* Pour s'assurer que la barre de navigation apparaît au-dessus des autres éléments */
}


.nav-banner-div {
    text-align: center; /* Pour centrer le contenu horizontalement */
    flex: 1; /* Pour que chaque élément occupe la même largeur */
    margin-top: 15px;
}

.img-nav {
    width: 25px; /* Largeur de l'image */
}

.nav-banner-div p {
    margin-top: 5px; 
    font-size: 12px;
}    

.img-logo {
    width: 130px;
}

.nav-banner-mobile { display: none; }

@media screen and (max-device-width: 800px) {
    #toSee {
        display: none;
    }

    .nav-banner { display: none; }

    .img-nav {
        width: 50px; /* Largeur de l'image */
    }

    .nav-banner-mobile-div p {
        font-size: 20px;
    }

    .nav-banner-mobile {
        position: fixed; /* Position absolue */
        bottom: 0; /* Positionner l'élément en bas */
        left: 0; /* Positionner l'élément sur le côté gauche */
        width: 100%; /* La largeur occupera 100% de son conteneur parent */
        display: flex;
        justify-content: space-between;
        background-color: ghostwhite;
        z-index: 9999;
    }   

    .nav-banner-mobile-div {
        text-align: center; /* Pour centrer le contenu horizontalement */
        flex: 1; /* Pour que chaque élément occupe la même largeur */
        margin-top: 15px;
    }
}