.pasdelien {
    text-decoration: none;
    color: black;
}

.compte-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: black;
    padding-top: 80px;
}

.main {
    padding-top: 80px;
}

.compte-header {
    width: 100%;
}

.compte-page h1{
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

.compte-header h1 {
    margin-bottom: 1em;
    text-align: center;
}

.compte-header p {
    text-align: right;
}

.compte-img {
    width: 100%;
    display: block;
    text-align: center;
}

.compte-img img {
    max-width: 27%;
    margin: auto;
    align-self: center;
}

.btn-actu {
    width: 100%;
    text-align: center;
}

.btn-actu button {
    border: none;
    border-radius: 7px;
    color: #14b6f6;
}

.btn-actu button a {
    color: #14B6F6;
}

.compte-img p {
    text-align: center;
    font-size: 27px;
    margin-top: 1rem;
}

.img-param {
    width: 20px;
}

.deconnecter-compte {
    width: 50%;
    margin: auto;
    margin-top: 5em;
    text-align: center;
}

.compte-btn-div {
    width: 100%;
    margin-top: 2em;
}

.compte-btn-div a, .btn {
    border: 1px solid gainsboro;
    border-radius: 4px;
    margin: 30px;
    padding: 10px;
}

.form , .form-new-user{
    width: 60%;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: auto;
    margin-top: 3em;
    padding: 25px;
}

.form h1 , .form-new-user h1{
    text-align: center;
}

.form input, .form-new-user input {
    margin-bottom: 30px;
}

.form-new-user label, .form-new-user input {
    width: 100%;
} 

#user div label {
    width: 100%;
}

#user div input {
    width: 100%;
    margin-bottom: 20px;
}

.compte-multi-info {
    width: 50%;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: auto;
    padding: 1em;
}

.table tbody tr th {
    width: 40%;
}

.tr-hidden-perso, .tr-hidden-lock {
    display: none;
}

.slide {
    transition: opacity 0.5s ease-in-out;
}

.password-field {
    margin-bottom: 10px;
}

.article-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article-div {
    border: 1px solid gray;
    width: 20%;
    padding: 10px;
}

.article-div p {
    font-size: 14px;
}

.article-titre {
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 800px) {

    .compte-img img {
        max-width: 90%;
    }

}