<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>FRIWIMAP</title>
    <link href="../../../Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/ab2155e76b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="../../../style.css" rel="stylesheet" />
    <link href="../../../nav.css" rel="stylesheet" />
    <link href="../../../style-autre.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../../../image/IconFriwimap.png">
</head>

    <body>
        {{ include('nav.html.twig') }}
        {% block body %}{% endblock %}
    
        <script src="../../../main.js"></script>
        
    </body>
</html>
