<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>FRIWIMAP</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/ab2155e76b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" />
    <link href="styleIndex.css" rel="stylesheet" />
    <link href="style-autre.css" rel="stylesheet" />
    <link href="nav.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="image/IconFriwimap.png">
</head>

<body>
    {{ include('nav.html.twig') }}

    <div id="road-embed-map"></div>
    <script src="https://map.road.io/client?token=123456&features=sidebar"></script>
    <script>
        RoadIO.initRoadMap({"position":{"lat":52.363881088889,"lng":4.87660515736648},"zoomLevel":14,"useBrowserLocation":true});
    </script>
    <script src="main.js"></script>
</body>

<style>
    #road-embed-map {
        position: relative;
        top: 0;
        width: 100%;
        height: calc(100vh - 16px); /* 100vh - 2 * 8px (Body margin value) */
        overflow: hidden;
    }
</style>

</html>