<div class="nav-banner">

    <div class="nav-banner-div" id="mapmap">
        <img 
            class="img-nav"
            src="../../../image/map.svg" 
            alt="carte" 
        />
        <p>Carte</p>
    </div>

    <div class="nav-banner-div" id="toCalc">
        <img 
            class="img-nav" 
            src="../../../image/itinerary.svg" 
            alt="Itinéraire" 
        />
        <p>Itinéraire</p>
    </div>

    <div class="nav-banner-div" id="friwigo">
        <img 
            class="img-nav" 
            src="../../../image/charge.svg" 
            alt="Friwigo" 
        />
        <p>Friwigo</p>
    </div>

    <div class="nav-banner-div" id="actu">
        <img 
            class="img-nav" 
            src="../../../image/groups.svg" 
            alt="les actualités" 
        />
        <p>Actualités</p>
    </div>

    <div class="nav-banner-div" id="compte">
        <img 
            class="img-nav" 
            src="../../../image/me.svg" 
            alt="mon compte" 
        />
        <p>Compte</p>
    </div>

</div>