{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
        
    <div class="compte-page">
        <h1>Friwigo</h1>
        <div class="compte-img">
            <img src="../../../image/electricharge.png" alt="illustration promotionnelle friwigo" class="slide" />
            <img src="../../../image/chargee.png" alt="illustration promo friwigo" class="slide" style="display: none;" />
            <img src="../../../image/card.png" alt="illustration de friwigo" class="slide" style="display: none;" />
        </div>
         <div class="btn-actu">
            <button><a class="pasdelien" href="https://dashboard.friwigo.com/login?redirect=/cpo/signup/billing">Commander</a></button>
        </div>
    </div>


{% endblock %}